<label>{{ fit-select-label }} <span class="fit-val"></span></label>
<ul class="fit-select">
    <li value="{{ petite-label }}" class="fit-select__fit-chip"><span>{{ petite-label }}</span></li>
    <li value="{{ regular-label }}" class="fit-select__fit-chip"><span>{{ regular-label }}</span></li>
    <li value="{{ tall-label }}" class="fit-select__fit-chip"><span>{{ tall-label }}</span></li>
</ul>