{{render '@swiper'}}

<section class="section--padding">

{{render '@main-title'}}
{{render '@price-title'}}
{{render '@horizontal-rule'}}
{{render '@color-selector'}}
{{render '@fit-selector'}}
{{render '@size-selector'}}
{{render '@body-copy'}}
{{render '@primary-cta'}}
{{render '@collapsible-in-page'}}
    
</section>