<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path '/css/style.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/swiper.min.css' }}">
    <script   src="https://code.jquery.com/jquery-3.2.0.min.js"   integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="   crossorigin="anonymous"></script>
    <script src="{{ path '/js/selection-scripts.js' }}"></script>
    <script src="{{ path '/js/parsley.min.js' }}"></script>
    <script src="{{ path '/js/swiper.min.js' }}"></script>
    <title>UI Library</title>
</head>
    <body>
    {{{ yield }}}
    </body>
</html>