<ul class="collapsible">
    <li class="collapsible__item">
        {{render '@horizontal-rule'}}
        {{render '@secondary-title'}}
        {{render '@body-copy'}}
        {{render '@horizontal-rule'}}
    </li>
    <li class="collapsible__item">
        {{render '@horizontal-rule'}}
        {{render '@secondary-title'}}
        {{render '@body-copy'}}
        {{render '@horizontal-rule'}}
    </li>
</ul>